/*@media screen and (max-width: 1450px) {
	.contentbox-container-main{
		zoom: 0.735;
		margin-top: 20px;
	    padding-bottom: 73.5px
	}
	.contentbox-container .c-bg .bg{
		height: 698px;
		background-size: cover;
	}
}*/
@media screen and (max-width: 1400px) {
	.contentbox-container-main{
	    padding-left: 0px;
	}
}
