@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,section,canvas {
    padding: 0;
    margin: 0;
}
li{ list-style: none;}
html,body {
    font-size: 22px;
    color: #000;
    font-family: 'Microsoft YaHei', Arial;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
div,
a,
img {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.hide {
    display: none;
}
.hopacity {
    opacity: 0;
}

.preloading {
    opacity: 0;
    width: 0;
    height: 0;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.loading-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f5fff6;
    /* background-color: green; */
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin: -139px 0 0 -200px;
    text-align: center;
}

.loadingicon {
    width: 200px;
    height: 238px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* background-image: url("../img/move1.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center bottom; */
}
.loadingicon img{
    width: 315px;
    top: -200px;
    position: absolute;
    left: 48px;
}
.loadingtxt {
    line-height: 20px;
}
.loadingtxt .progress {
    position: relative;
    display: inline-block;
    width: 156px;
    height: 14px;
    margin-left: 50px;
    border: 1px solid #007e6b;
    background-color: transparent;
    border-radius: 100px;
}
.loadingtxt .inner {
    width: 0%;
    background-color: #007e6b;
    border-radius: 100px;
    height: 100%;
}
.loadingtxt .num {
    display: inline-block;
    width: 54px;
    text-align: right;
    font-size: 20px;
    color: #007e6b;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
}

.page>div {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.page .page1 {
    /* background-image: url("../img/bg1.jpg"); */
    background-color: #f5fff6;
    /* background-position-x: 0px; */
    /* background-position-y: bottom; */
    /* background-size: 1902px 999px; */
}
.page1 .bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1902px;
    height: 999px;
    transform: translateX(0px);
}
.page1>div {
    position: absolute;
    left: 50%;
}
.page1{z-index: 99;}
.page1 .open {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 640px;
    height: 1008px;
    transform: rotate(-1deg);
}
.page1 .girl {
    display: inline-block;
    bottom: 100px;
    width: 200px;
    height: 326px;
    margin: 0 0 0 -100px;
    background-image: url("../img/move1.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.page .page2 {
    background-image: url("../img/bg2.jpg");
    background-position: center bottom;
    background-size: 640px 1008px;
    background-color: #566f61;
}
.page2>div {
    position: absolute;
    left: 50%;
}
.page2{z-index: 98;}
.page2 .p2_1 {
    bottom: 219px;
    width: 640px;
    height: 722px;
    margin: 0 0 0 -50%;
    background-image: url("../img/p2_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.page2 .p2_bg {
    bottom: 264px;
    width: 574px;
    height: 420px;
    margin: 0 0 0 -288px;
    background-image: url("../img/p2_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.page2 .p2_girl {
    bottom: 288px;
    width: 425px;
    height: 392px;
    margin: 0 0 0 -229px;
    background: url("../img/p2_girl.png") no-repeat center;
}
.page2 .p2_2 {
    bottom: 289px;
    width: 457px;
    height: 644px;
    margin: 0 0 0 -228.5px;
    background-image: url("../img/p2_2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.page2 .talk {
    bottom: 42px;
    width: 640px;
    height: 1008px;
    margin: 0 0 0 -339px;
    background-image: url("../img/talk.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.page2 .face {
    bottom: 42px;
    width: 640px;
    height: 1008px;
    margin: 0 0 0 -339px;
    background-image: url("../img/face.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.page2 .rules_tip {
    bottom: 893px;
    width: 246px;
    height: 70px;
    margin-left: -123px;
    background: url('../img/p2_rules_tip.png') no-repeat center;
}
.page2 .rules_text {
    bottom: 0px;
    width: 640px;
    height: 1008px;
    margin-left: -320px;
    background: url('../img/p2_rules_text2.gif') no-repeat center;
}
.page2 .rules_textbox {
    bottom: 728px;
    width: 482px;
    height: 147px;
    margin-left: -241px;
    background: url('../img/p2_rules_textbox.png') no-repeat center;
}
.page2 .rules_pen {
    bottom: 0px;
    width: 640px;
    height: 1008px;
    margin-left: -320px;
    background: url('../img/p2_rules_pen.gif') no-repeat center;
}

.page2 .receive {
    bottom: 375px;
    width: 211px;
    height: 98px;
    margin: 0 0 0 -105.5px;
    background-image: url("../img/receiveBtn.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.page .page3 {
    background-image: url("../img/bg3.jpg");
    background-position: center bottom;
    background-size: cover;
    background-color: #b79c84;
}

.page3 {
    z-index: 97;
}
.swiper-slide>div {
    /* position: absolute; */
}
.page3 .index {
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    width: 54px;
    height: 54px;
    top: 116px;
    left: 74px;
    line-height: 54px;
    font-size: 38px;
    color: #fff;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}
.page3 .type {
    display: inline-block;
    margin-left: 191px;
    margin-top: 51px;
    width: 256px;
    height: 78px;
}
.page3 .voice {
    position: relative;
    margin-left: 151px;
    margin-top: 34px;
    /* width: 287px; */
    height: 69px;
    overflow: hidden;
    background: url("../img/voicebg1.png") no-repeat left center;
    background-size: 287px 100%;
}
.page3 .voice-tip {
    position: absolute;
    top: 50%;
    left: 300px;
    margin-top: -15px;
    line-height: 30px;
    font-size: 30px;
    color: #fff;
}
.page3 .rightAnswer {
    position: absolute;
    left: 100px;
    bottom: 156px;
    width: 332px;
    height: 69px;
    font-size: 30px;
    color: #007e6b;
    overflow: hidden;
    background: url("../img/voicebg2.png") no-repeat center center;
    background-size: 100%;
}
.page3 .text {
    display: inline-block;
    margin-left: 75px;
    font-size: 30px;
    line-height: 69px;
}
.page3 .wave {
    position: absolute;
    left: 33px;
    top: 21px;
    width: 28px;
    height: 29px;
    background: url("../img/wave.png") no-repeat center center;
}
.page3 .wave2 {
    position: absolute;
    left: 33px;
    top: 21px;
    width: 28px;
    height: 29px;
    background: url("../img/wave.gif") no-repeat center center;
}
.page3 .question {
    margin-left: 92px;
    margin-bottom: 36px;
    color: #fff;
    font-size: 30px;
}
.page3 .info{
    position: relative;
    width: 100%;
}
.page3 .info img{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page3 .info_dialect {
    height: 230px;
}
.page3 .info_knowledge {
    height: 298px;
}
.page3 .info_interest {
    height: 304px;
}

.page3 .answer {
    margin-left: 89px;
    color: #fff;
    vertical-align: middle;

}
.page3 .answer-item {
    position: relative;
    margin-bottom: 44px;
}
.page3 .answer-item:last-child {
    margin-bottom: 0;
}
.page3 .answer .content {
    display: inline-block;
}
.page3 .answer .key{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    width: 35px;
    height: 35px;
    background-color: #007e6b;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    margin-right: 20px;
}
.page3 .answer .value{
    display: inline-block;
    max-width: 360px;
    padding: 18px 21px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 30px;
    background-color: #007e6b;
}

.page3 .persion {
    position: absolute;
    right: 87px;
    bottom: 80px;
    /* bottom: 60px; */
    border-radius: 10px;
    font-size: 30px;
    color: #fff;
}
.page3 .answer-item .right {
    vertical-align: middle;
    display: inline-block;
    width: 78px;
    height: 62px;
    background: url('../img/icon_right.png') no-repeat center center;
}
.page3 .answer-item .error {
    vertical-align: middle;
    display: inline-block;
    width: 65px;
    height: 65px;
    background: url('../img/icon_error.png') no-repeat center center;
}
.page3 .answer-item .line {
    position: absolute;
    left: 59px;
    bottom: -15px;
    width: 376px;
    height: 1px;
    background: #fff;
}
.page3 .next {
    z-index: 9999;
    position: absolute;
    /* top: 50%; */
    top: 322px;
    right: 43px;
    /* margin-top: -26px; */
    width: 42px;
    height: 52px;
    background: url('../img/next.png') no-repeat center center;
}

.musicicon {
    background: url("../img/musicicon.png") no-repeat;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 9999;
}
.musicrotate {
    -webkit-animation: xuanzhuan 5s infinite linear;
    animation: xuanzhuan 5s infinite linear;
}
@keyframes xuanzhuan {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes xuanzhuan {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

.page .page4 {
    background-image: url("../img/bg3.jpg");
    background-position: center bottom;
    background-size: cover;
    background-color: #b79c84;
}

.page4>div {
    position: absolute;
    left: 50%;
    top: 50%;
}

.page4 {
    z-index: 96;
}

.page4 .tip {
    width: 400px;
    height: 126px;
    margin: -433px 0 0 -200px;
    text-align: center;
}

.page4 .frame {
    bottom: 219px;
    width: 542px;
    height: 535px;
    margin: -274px 0 0 -271px;
    background-image: url("../img/p4_frame.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.page4 .frame .result {
    position: absolute;
    top: 28px;
    left: 50%;
    width: 304px;
    height: 67px;
    margin-left: -152px;
    background: url('../img/p4_result.png') no-repeat 100%;
}
.page4 .frame .result img {
    position: absolute;
    left: 50%;
    bottom: 0px;
    text-align: center;
    transform: translateX(-50%);
}
.page4 .icon {
    position: absolute;
    bottom: 219px;
    width: 340px;
    height: 300px;
    margin-top: -150px;
    margin-left: -170px;
}
.page4 .icon2 {
    margin-top: -136px;
}
.page4 .icon img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.page4 .replay{
    width: 172px;
    height: 87px;
    margin: 310px 0 0 -240px;
    background: url('../img/p4_replay.png') no-repeat 100%;
}
.page4 .share{
    width: 236px;
    height: 87px;
    margin: 310px 0 0 4px;
    background: url('../img/p4_share.png') no-repeat 100%;
}
.page4 .ribbon2 {
    width: 366px;
    height: 88px;
    margin: -157px 0 0 -184px;
    background: url('../img/p4_ribbon2.png') no-repeat 100%;
}
.page4 .ribbon1, .ribbon3 {
    width: 339px;
    height: 104px;
    margin: -150px 0 0 -175px;
    background: url('../img/p4_ribbon.png') no-repeat 100%;
}

.sharemask {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.sharemask img {
    display: block;
    position: absolute;
    right: 97px;
    top: 128px;
}

.tips {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.tips .content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    background: #f8f5f5;
    border-radius: 10px;
}
.tips .content .tip{
    font-size: 24px;
    color: #333;
    text-align: center;
    padding: 20px 0px;
}
.tips .ok{
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #333;
    background: transparent;
    text-align: center;
}
/* .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    top: 0;
    left: 0;
    z-index: 999;
} */
/* compat */
@media screen and (max-height: 945px) {
    /* .loading-wrapper {
        background-color: coral!important;
    } */
    .page3 .answer-item {
        margin-bottom: 15px;
    }
    .page3 .answer .value {
        padding: 10px;
    }
    .page3 .answer-item .right {
        vertical-align: bottom;
        height: 60px;
    }
    .page3 .answer-item .error {
        vertical-align: bottom;
        height: 60px;
    }
    .page3 .persion {
        bottom: 60px;
    }
    .page3 .rightAnswer {
        bottom: 113px;
    }
}
/* @media screen and (orientation: portrait) {
    .mask{
        display: none!important;
    }
}
@media screen and (orientation: landscape) {
    .mask {
        display: block !important;
    }
} */