<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="2017瑞华校园大使招募季">
    <meta name="description" content="2017瑞华校园大使招募季">
	<title>2017瑞华校园大使招募季</title>
	<link rel="stylesheet" type="text/css" href="../public/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/area.css"/>
</head>
<body>
	<div class="container">
		<div class="c-bg">
			<div class="bg1"></div>
			<div class="bg2"></div>
			<div class="bg3"></div>
		</div>
		<div class="main">
			<ul class="panel">
				<li class="active">
					<div class="title" data-active=1><p class="title-p">北京</p></div>
					<div class="content">
						<div class="content-panel">
							<p>首都经济贸易大学</p>
							<p>北京工商大学</p>
							<p>北京物资学院</p>
							<p>中国农业大学</p>
							<p>中华女子学院</p>
							<p>中央财经大学</p>
							<p>北京信息科技大学</p>
						</div>
					</div>
				</li>
				<li>
					<div class="title" data-active=0><p class="title-p" >东部</p></div>
					<div class="content">
						<div class="content-panel">
							<p>首都经济贸易大学</p>
							<p>北京工商大学</p>
							<p>北京物资学院</p>
							<p>中国农业大学</p>
							<p>中华女子学院</p>
							<p>中央财经大学</p>
							<p>北京信息科技大学</p>
						</div>
					</div>
				</li>
				<li>
					<div class="title" data-active=0><p class="title-p">西部</p></div>
					<div class="content">
						<div class="content-panel">
							<p>首都经济贸易大学</p>
							<p>北京工商大学</p>
							<p>北京物资学院</p>
							<p>中国农业大学</p>
							<p>中华女子学院</p>
							<p>中央财经大学</p>
							<p>北京信息科技大学</p>
						</div>
					</div>
				</li>
				<li>
					<div class="title" data-active=0><p class="title-p">南部</p></div>
					<div class="content">
						<div class="content-panel">
							<p>首都经济贸易大学</p>
							<p>北京工商大学</p>
							<p>北京物资学院</p>
							<p>中国农业大学</p>
							<p>中华女子学院</p>
							<p>中央财经大学</p>
							<p>北京信息科技大学</p>
						</div>
					</div>
				</li>
				<li>
					<div class="title" data-active=0><p class="title-p">北部</p></div>
					<div class="content">
						<div class="content-panel">
							<p>首都经济贸易大学</p>
							<p>北京工商大学</p>
							<p>北京物资学院</p>
							<p>中国农业大学</p>
							<p>中华女子学院</p>
							<p>中央财经大学</p>
							<p>北京信息科技大学</p>
						</div>
					</div>
				</li>
				<li>
					<div class="title" data-active=0><p class="title-p">中部</p></div>
					<div class="content">
						<div class="content-panel">
							<p>首都经济贸易大学</p>
							<p>北京工商大学</p>
							<p>北京物资学院</p>
							<p>中国农业大学</p>
							<p>中华女子学院</p>
							<p>中央财经大学</p>
							<p>北京信息科技大学</p>
						</div>
					</div>
				</li>
			</ul>
			<div class="bt-go"></div>
			<!-- <div class="bt-return"></div> -->
		</div>
		<div class="company">瑞华会计师事务所 版权所有瑞华会计师事务所（特殊普通合伙） @京ICP备1305311905051632号京公网安备11010802020454号</div>
	</div>
	<script type="text/javascript" src="../public/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../public/js/area.js"></script>
</body>
</html>
