<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="viewport" content="width=2700, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="keywords" content="2017瑞华校园大使招募季">
    <meta name="description" content="2017瑞华校园大使招募季">
	<title>2017瑞华校园大使招募季</title>
	<link rel="stylesheet" type="text/css" href="../public/css/swiper.min.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/app.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/media.css"/>

</head>
<body>
	<div id="wrapper" class="wrapper">
		<div class="loading">
			<div class="loading-content">
				<div class="object first_object"></div>
				<div class="object second_object"></div>
				<div class="object third_object"></div>
			</div>
		</div>
		<!-- Swiper -->
	    <div class="swiper-container" id="o-c">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide page1">
					<div class="main">
						<img src="../public/images/index/bg.jpg" class="bg">
						<div class="item car">
							<img class="car_bg" src="../public/images/index/car.png">
							<img class="tyre1" src="../public/images/index/tyre1_1.png">
							<img class="tyre2" src="../public/images/index/tyre2_1.png">
							<img class="tyre3" src="../public/images/index/tyre3_1.png">
						</div>
						<div class="item ct smoke"><img src="../public/images/index/smoke.png"></div>
						<div class="item ct pen"><img src="../public/images/index/pen.png"></div>
						<div class="item ct computer"><img src="../public/images/index/computer.png"></div>
						<div class="item ct keybord"><img src="../public/images/index/keybord.png"></div>
						<div class="item ct tips1"><img src="../public/images/index/tips1.png"></div>
						<div class="item ct tips2"><img src="../public/images/index/tips2.png"></div>
						<div class="item ct book"><img src="../public/images/index/book.png"></div>
						<div class="item ct operate"><img src="../public/images/index/operate.png"></div>
					</div>
				</div>
				<div class="swiper-slide page2">
					<div class="video-box">
						<video src="https://bla.gtimg.com/qqlive/201702/BRDS_20170208152441790.mp4" controls="controls" >
						</video>
					</div>
				</div>
	            <div class="swiper-slide page3">
					<div class="swiper-container contentbox" id="i-c-b1">
						<div class="swiper-wrapper">
							<!-- content swiper for itsyou -->
							<div class="swiper-slide itsyou">
								<div class="contentbox-container">
									<div class="c-bg"><div class="bg"></div></div>
									<div class="contentbox-container-main clearfix">
										<div class="logo"></div>
										<div class="content1">
											<a href="http://job.rhcncpa.com/ambplan" class="learnMore"></a>
											<div class="circle1"></div>
											<div class="circle2"></div>
										</div>
										<div class="content2">
											<div class="ct-left">
												<div class="ct-item"><span class="ct-item-num">1</span><a href="./area.html" target="_blank">就读于瑞华指定专属高校</a></div>
												<div class="ct-item"><span class="ct-item-num">2</span>财务相关专业</div>
												<div class="ct-item"><span class="ct-item-num">3</span>大一在校生</div>
											</div>
											<div class="ct-right">
												<div class="ct-item"><span class="ct-item-num">4</span>有认真负责的精神</div>
												<div class="ct-item"><span class="ct-item-num">5</span>认同瑞华的文化</div>
												<div class="ct-item"><span class="ct-item-num">6</span>有团队工作经验最佳</div>
											</div>
										</div>
										<div class="contentbox-operate">
											<div class="bt-look"></div>
											<div class="bt-go"></div>
											<div class="bt-sao"></div>
											<div class="bt-ma"></div>
										</div>
										<div class="contentbox-buttons">
											<div class="bt-itsyou"></div>
											<div class="bt-reward"></div>
											<div class="bt-process"></div>
										</div>
									</div>
									<div class="company">瑞华会计师事务所（特殊普通合伙） 版权所有 @京ICP备1305311905051632号 京公网安备11010802020454号</div>
								</div>
							</div>
							<!-- content swiper for reward -->
							<div class="swiper-slide reward">
								<div class="contentbox-container">
									<div class="c-bg">
										<!-- <div class="bg1"></div>
										<div class="bg2"></div>
										<div class="bg3"></div> -->
										<div class="bg"></div>
									</div>
									<div class="contentbox-container-main">
										<div class="logo"></div>
										<div class="content1">
											<a href="http://job.rhcncpa.com/ambplan" class="learnMore"></a>
											<div class="circle1"></div>
											<div class="circle2"></div>
										</div>
										<div class="content2">
											<div class="ct-left">
												<div class="ct-item"><span class="ct-item-num">1</span>大使专属积分奖励</div>
												<div class="ct-item"><span class="ct-item-num">2</span>成长锻炼的平台</div>
												<div class="ct-item"><span class="ct-item-num">3</span>瑞华实习的机会</div>
											</div>
											<div class="ct-right">
												<div class="ct-item"><span class="ct-item-num">4</span>专享职业生涯指导</div>
												<div class="ct-item"><span class="ct-item-num">5</span>志同道合的朋友</div>
												<div class="ct-item"><span class="ct-item-num">6</span>瑞华金牌推荐信</div>
											</div>
										</div>
										<div class="contentbox-operate">
											<div class="bt-look"></div>
											<div class="bt-go"></div>
											<div class="bt-sao"></div>
											<div class="bt-ma"></div>
										</div>
										<div class="contentbox-buttons">
											<div class="bt-itsyou"></div>
											<div class="bt-reward"></div>
											<div class="bt-process"></div>
										</div>
									</div>
									<div class="company">瑞华会计师事务所（特殊普通合伙） 版权所有 @京ICP备1305311905051632号 京公网安备11010802020454号</div>
								</div>
							</div>
							<!-- content swiper for process -->
							<div class="swiper-slide process">
								<div class="contentbox-container">
									<div class="c-bg"><div class="bg"></div></div>
									<div class="contentbox-container-main">
										<div class="logo"></div>
										<div class="content1"></div>
										<div class="contentbox-operate">
											<div class="bt-look"></div>
											<div class="bt-go"></div>
											<div class="bt-sao"></div>
											<div class="bt-ma"></div>
										</div>
										<div class="contentbox-buttons">
											<div class="bt-itsyou"></div>
											<div class="bt-reward"></div>
											<div class="bt-process"></div>
										</div>
									</div>
									<div class="bg-content"></div>
									<div class="company" style="color:#333;">瑞华会计师事务所（特殊普通合伙） 版权所有 @京ICP备1305311905051632号 京公网安备11010802020454号</div>
								</div>
							</div>
							<!-- end content box-->
						</div>
					</div>
	            </div>
	        </div>
	    </div>
		<div class="guide" style="display:none;"></div>
		<div class="guide2" style="display:none;"></div>
	</div>

	<!--[if lt IE 9]>
		<script src="http://cdn.bootcss.com/jquery/1.8.0/jquery.min.js"></script>
		<script src="https://code.createjs.com/preloadjs-0.4.0.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	<script type="text/javascript" src="../public/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../public/js/preloadjs-0.6.0.min.js"></script>
	<!--<![endif]-->

	<script type="text/javascript" src="../public/js/swiper.min.js"></script>
	<script type="text/javascript" src="../public/js/TweenMax.min.js"></script>
	<script type="text/javascript" src="../public/js/app.js"></script>
</body>
</html>
