@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,section,canvas {
    padding: 0;
    margin: 0;
}
li{ list-style: none;}

html,body {
    font-size: 22px;
    color: #000;
    font-family: 'Microsoft YaHei', Arial;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
}

.hide{ display: none;}
.wrapper{width: 100%; height: 100%; position: relative;}

/**
 * Loading
 */
.loading{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -84px 0 0 -240px;
	width: 479px;
	text-align: center;
}
.loadingicon{
	display: inline-block;
	width: 479px;
	height: 94px;
	margin-bottom: 15px;
	background: url("../images/logo.jpg") no-repeat;
}
.loadingtxt{
	padding: 13px;
	box-sizing: border-box;
	text-align: center;
}

/**
 * Main Pannel
 */
.main{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.page{
	width: 100%;
	height: 100%;
	position: relative;
}
.page>div{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

/**
 * Page 1
 */
.page .page1{
	background-image: url("../images/p1.jpg");
	background-position: center top;
	background-size: cover;
}
.page1>div{ position: absolute; left: 50%;}
.page1_1{
	bottom: 130px;
	margin: 0 0 0 -375px;
}
.page1_2{
	bottom: 50px;
	margin: 409px 0 0 -240px;
}

/**
 * Page 2
 */
.page .page2{
	background-color: #fa3d05;
}
.page2_1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 202px;
	background: url(../images/p2_1.png) no-repeat 50% 50%;
}
.page2_2{
	position: relative;
	margin-top: 33px;
	margin-left: 25px;
	width: 445px;
	height: 83px;
	background: url(../images/logo.jpg) no-repeat 50% 50%;
}
.page2_3{
	position: relative;
	margin-top: 18px;
	margin-left: 40px;
	width: 347px;
	height: 111px;
	background: url(../images/p2_3.png) no-repeat 50% 50%;
}
.page2_4{
	position: relative;
	padding: 27px 50px 40px 50px;
	font-size: 28px;
	font-weight: 300;
	line-height: 41px;
	color: #FFF;
}
.page2_5{
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 651px;
	background: url(../images/p2_5.png) no-repeat 50% 50%;
	background-size: cover;
}
.page2_5>div{
	position: absolute;
	left: 50%;
}
.page2_5_0{margin: 54px 0 0 -220px;}
.page2_5_1{margin: 158px 0 0 -350px;}
.page2_5_2{margin: 169px 0 0 72px;}
.page2_5_3{margin: 284px 0 0 121px;}
.page2_5_4{margin: 310px 0 0 -350px;}
.page2_5_5{margin: 458px 0 0 73px;}
.page2_5_6{margin: 481px 0 0 -338px;}

/**
 * Page 3
 */
.page .page3{
	background: url(../images/p3.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.page3_1{
	position: relative;
	margin-top: 33px;
	margin-left: 25px;
	width: 445px;
	height: 83px;
	background: url(../images/logo.jpg) no-repeat 50% 50%;
}
.page3_2{
	position: relative;
	margin-top: 15px;
	margin-left: 30px;
	width: 406px;
	height: 337px;
	background: url(../images/p3_2.png) no-repeat 50% 50%;
}
.page3_3{
	margin-top: 55px;
	padding: 0 56px;
}
.page3_3 .title{
	color: #ce0020;
	font-size: 54px;
	font-weight: bold;
}
.page3_3 .content{
	color: #333;
	/*text-indent: 56px;*/
	font-size: 28px;
	margin-top: 60px;
}

/**
 * Page 4
 */
.page .page4{
	background-color: #dd3144;
}
.page4_1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 335px;
	background: url(../images/p4_1.png) no-repeat 50% 50%;
}
.page4_2{
	position: relative;
	margin-top: 33px;
	margin-left: 25px;
	width: 445px;
	height: 83px;
	background: url(../images/logo.jpg) no-repeat 50% 50%;
}
.page4_3{
	position: relative;
	margin-top: 183px;
	margin-left: 50px;
	width: 637px;
	height: 96px;
	background: url(../images/p4_3.png) no-repeat 50% 50%;
}
.page4_4{
	position: relative;
	left: 50%;
	width: 330px;
	margin-left: -165px;
	margin-top: 33px;
	text-align: left;
	font-size: 30px;
}
.page4_4 p{
    width: 330px;
	margin-top: 30px;
	color: #FFF;
}
.page4_4 p span{
	width: 42px;
	height: 42px;
	background-color: #FFF;
	border-radius: 50%;
	color: #dd3144;
	display: inline-block;
    vertical-align: top;
    line-height: 42px;
	margin-right: 36px;
	text-align: center;
}
.page4_5{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: url(../images/p4_5.png) no-repeat 50% 50%;
	background-size: cover;
}
.page4_6{
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -203.5px;
	width: 407px;
	height: 357px;
	background: url(../images/p4_4.png) no-repeat 50% 50%;
	background-size: cover;
}

/**
 * Page 5
 */
.page .page5{
	background-color: #23c2f4;
}
.page5_1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 335px;
	background: url(../images/p4_1.png) no-repeat 50% 50%;
}
.page5_2{
	position: relative;
	margin-top: 33px;
	margin-left: 25px;
	width: 445px;
	height: 83px;
	background: url(../images/logo.jpg) no-repeat 50% 50%;
}
.page5_3{
	position: relative;
	margin-top: 76px;
	margin-left: 116px;
	width: 156px;
	height: 156px;
	background: url(../images/p5_3.png) no-repeat 50% 50%;
}
.page5_4{
	position: relative;
	margin-top: 18px;
	margin-left: 50px;
	width: 637px;
	height: 97px;
	background: url(../images/p5_4.png) no-repeat 50% 50%;
}
.page5_5{
	position: relative;
	left: 50%;
	width: 410px;
	margin-left: -163px;
	margin-top: 33px;
	text-align: left;
	font-size: 30px;
}

.page5_5 p{
    width: 410px;
	margin-top: 30px;
	color: #FFF;
}
.page5_5 p span{
	width: 42px;
	height: 42px;
	background-color: #FFF;
	border-radius: 50%;
	color: #1baceb;
	display: inline-block;
    vertical-align: top;
    line-height: 42px;
	margin-right: 36px;
	text-align: center;
}
.page5_6{
	position: absolute;
	top: 522px;
	left: 78px;
	width: 186px;
	height: 493px;
	background: url(../images/p5_5.png) no-repeat 50% 50%;
	background-size: cover;
}
.page5_7{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: url(../images/p4_5.png) no-repeat 50% 50%;
	background-size: cover;
}
.page5_8{
	position: absolute;
	bottom: 128px;
	left: 50%;
	margin-left: -203.5px;
	width: 417px;
	height: 93px;
	background: url(../images/p5_6.png) no-repeat 50% 50%;
	background-size: cover;
}

/**
 * Page 6
 */
.page .page6{
	background-color: #97e5fa;
}
.page6_1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 187px;
	z-index: 99;
	background: url(../images/p6_1.png) no-repeat 50% 50%;
}
.page6_2{
	position: relative;
	left: 50%;
	margin-top: 18px;
	margin-left: -222.5px;
	width: 445px;
	height: 83px;
	z-index: 999;
	background: url(../images/logo.jpg) no-repeat 50% 50%;
}
.page6_3{
	position: absolute;
	top: 85px;
	left: 50%;
	margin-top: 18px;
	margin-left: -375px;
	width: 750px;
	height: 975px;
    z-index: 9;
	background: url(../images/p6_3.png) no-repeat 50% 50%;
}
.page6_4{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 165px;
	background: url(../images/p6_4.png) no-repeat 50% 50%;
	background-size: cover;
}
.university{
	position: relative;
	margin-top: 176px;
	overflow: hidden;
}
.university p{
	width: 260px;
	float: left;
	margin-left: 100px;
	margin-bottom: 50px;
	font-size: 32px;
	color: #333;
}
.p6-operate{
	position: absolute;
	top: 680px;
	left: 50%;
	margin-left: -320px;
	width: 640px;
}
.opt-it{
	width: 152px;
	height: 112px;
	background: url(../images/button.png) no-repeat 50% 50%;
	background-size: cover;
	display: inline-block;
	margin: 0 28px;
	text-align: center;
	line-height: 64px;
	margin-bottom: 28px;
	font-size: 30px;
}
.active{
	background: url(../images/button_act.png) no-repeat 50% 50%;
	background-size: cover;
    color: #ffff01;
}

/**
 * Page 7
 */
.page .page7{
	background-color: #23c2f4;
	background: url(../images/p7.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.page7_1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 334px;
	background: url(../images/p7_1.png) no-repeat 50% 50%;
}
.page7_2{
	position: relative;
	margin-top: 33px;
	margin-left: 25px;
	width: 445px;
	height: 83px;
	background: url(../images/logo.jpg) no-repeat 50% 50%;
}
.page7_3{
	position: relative;
	left: 50%;
	margin-top: 240px;
	margin-left: -245px;
	width: 490px;
	height: 94px;
	background: url(../images/p7_3.png) no-repeat 50% 50%;
}
.page7_4{
	position: relative;
	left: 50%;
	margin-top: 42px;
	margin-left: -245px;
	width: 490px;
	height: 417px;
	background: url(../images/p7_4.png) no-repeat 50% 50%;
}
.page7_5{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: url(../images/p4_5.png) no-repeat 50% 50%;
	background-size: cover;
}
.page7_6{
	position: absolute;
	bottom: 146px;
	left: 50%;
	margin-left: -210px;
	width: 421px;
	height: 110px;
	background: url(../images/p7_5.png) no-repeat 50% 50%;
	background-size: cover;
}
.page7_7{
	position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;
    font-size: 21px;
}

/*音乐按钮*/
.musicicon{ background: url("../images/musicicon.png") no-repeat; width: 64px; height: 60px; position: absolute; top: 20px; right: 20px;}
/*按钮旋转*/
.musicrotate{-webkit-animation: xuanzhuan 5s infinite linear; animation: xuanzhuan 5s infinite linear;}
@keyframes xuanzhuan {
    0% { transform: rotate(0deg)}
    100% { transform: rotate(360deg)}
}
@-webkit-keyframes xuanzhuan {
    0% { -webkit-transform: rotate(0deg)}
    100% { -webkit-transform: rotate(360deg)}
}
/*按钮旋转*/

/*向上箭头*/
.guideTop {
    width: 59px;
    height: 47px;
    background: url(../images/guide.png) no-repeat;
    position: absolute;
    bottom:0px;
    left: 50%;
    margin-left: -30px;
    animation: guideTop 1.5s infinite;
    -webkit-animation: guideTop 1.5s infinite
}
@keyframes guideTop {
    0% {
        transform: translateY(0px);
        opacity: 0
    }

    60% {
        transform: translateY(-10px);
        opacity: 1
    }

    100% {
        transform: translateY(-20px);
        opacity: 0
    }
}
@-webkit-keyframes guideTop {
    0% {
        -webkit-transform: translateY(0px);
        opacity: 0
    }

    60% {
        -webkit-transform: translateY(-10px);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(-20px);
        opacity: 0
    }
}
@keyframes breath {
    from { transform: scale(1); }
    50%  { transform: scale(0.8);}
    to   { transform: scale(1); }
}

@-webkit-keyframes breath {
	from { -webkit-transform: scale(1); }
	50%  { -webkit-transform: scale(0.8);}
	to   { -webkit-transform: scale(1); }
}
/*向上箭头*/

@media only screen and (max-device-height:550px){
	.page4_3{
		margin-top: 150px;
	}
	.page4_4 p{
		margin-top: 23px;
	}
}
