<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="viewport" content="width=2700, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="keywords" content="2017瑞华校园大使招募季">
    <meta name="description" content="2017瑞华校园大使招募季">
	<title>2017瑞华校园大使招募季</title>
	<link rel="stylesheet" type="text/css" href="../public/css/app.css"/>
</head>
<body>
	<div id="wrapper" class="wrapper">
		<div class="loading">
			<div class="loading-content">
				<div class="object first_object"></div>
				<div class="object second_object"></div>
				<div class="object third_object"></div>
			</div>
		</div>
		<div class="main" style="display: none;">
			<img src="../public/images/index/bg.jpg" class="bg">
			<div class="item car">
				<img class="car_bg" src="../public/images/index/car.png">
				<img class="tyre1" src="../public/images/index/tyre1_1.png">
				<img class="tyre2" src="../public/images/index/tyre2_1.png">
				<img class="tyre3" src="../public/images/index/tyre3_1.png">
			</div>
			<div class="item ct smoke"><img src="../public/images/index/smoke.png"></div>
			<div class="item ct pen"><img src="../public/images/index/pen.png"></div>
			<div class="item ct computer"><img src="../public/images/index/computer.png"></div>
			<div class="item ct keybord"><img src="../public/images/index/keybord.png"></div>
			<div class="item ct tips1"><img src="../public/images/index/tips1.png"></div>
			<div class="item ct tips2"><img src="../public/images/index/tips2.png"></div>
			<div class="item ct book"><img src="../public/images/index/book.png"></div>
			<div class="item ct operate"><img src="../public/images/index/operate.png"></div>
		</div>
	</div>

	<script type="text/javascript" src="../public/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../public/js/preloadjs-0.6.0.min.js"></script>
	<script type="text/javascript" src="../public/js/TweenMax.min.js"></script>
	<script type="text/javascript" src="../public/js/app.js"></script>
</body>
</html>
