<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="2017瑞华校园大使招募季">
    <meta name="description" content="2017瑞华校园大使招募季">
	<title>2017瑞华校园大使招募季</title>
	<link rel="stylesheet" type="text/css" href="../public/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/introduce.css"/>
</head>
<body>
	<div class="container">
		<div class="intro">
			<ul class="intro-ul">
				<li class="intro-li">
					<div class="li-container">
						<div class="it-head"><img src="../public/images/introduce/headImg/headImg.jpg"></div>
						<div class="it-content">
							<div class="it-content-top">
								<span class="name">张华</span>
								<span class="symbol">/</span>
								<span class="department">审计五部</span>
							</div>
							<div class="it-content-bottom">
								<p>这时有一位女子，上身大红外衣，下身一袭长裙，脚蹬高跟鞋，从我们身边走过，登上了台。我向她点了点头，她礼貌客气地对我笑了笑。因挨得很近，容貌看得很仔细，一张秀美的江南女子的脸，细细的眉毛，小巧的嘴唇，五观十分精致，略施薄粉，而岁月终究会无情地留下一丝丝痕迹，微微下垂的脸颊，暴露了她五十出.内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</div>
					</div>
				</li>
				<li class="intro-li row2">
					<div class="li-container">
						<div class="it-content">
							<div class="it-content-top">
								<span class="name">张华</span>
								<span class="symbol">/</span>
								<span class="department">审计五部</span>
							</div>
							<div class="it-content-bottom">
								<p>这时有一位女子，上身大红外衣，下身一袭长裙，脚蹬高跟鞋，从我们身边走过，登上了台。我向她点了点头，她礼貌客气地对我笑了笑。因挨得很近，容貌看得很仔细，一张秀美的江南女子的脸，细细的眉毛，小巧的嘴唇，五观十分精致，略施薄粉，而岁月终究会无情地留下一丝丝痕迹，微微下垂的脸颊，暴露了她五十出.内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</div>
						<div class="it-head"></div>
					</div>
				</li>
				<li class="intro-li">
					<div class="li-container">
						<div class="it-head"><img src="../public/images/introduce/headImg/headImg.jpg"></div>
						<div class="it-content">
							<div class="it-content-top">
								<span class="name">张华</span>
								<span class="symbol">/</span>
								<span class="department">审计五部</span>
							</div>
							<div class="it-content-bottom">
								<p>这时有一位女子，上身大红外衣，下身一袭长裙，脚蹬高跟鞋，从我们身边走过，登上了台。我向她点了点头，她礼貌客气地对我笑了笑。因挨得很近，容貌看得很仔细，一张秀美的江南女子的脸，细细的眉毛，小巧的嘴唇，五观十分精致，略施薄粉，而岁月终究会无情地留下一丝丝痕迹，微微下垂的脸颊，暴露了她五十出.内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</div>
					</div>
				</li>
				<li class="intro-li row3">
					<div class="li-container">
						<div class="it-content">
							<div class="it-content-top">
								<span class="name">张华</span>
								<span class="symbol">/</span>
								<span class="department">审计五部</span>
							</div>
							<div class="it-content-bottom">
								<p>这时有一位女子，上身大红外衣，下身一袭长裙，脚蹬高跟鞋，从我们身边走过，登上了台。我向她点了点头，她礼貌客气地对我笑了笑。因挨得很近，容貌看得很仔细，一张秀美的江南女子的脸，细细的眉毛，小巧的嘴唇，五观十分精致，略施薄粉，而岁月终究会无情地留下一丝丝痕迹，微微下垂的脸颊，暴露了她五十出.内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</div>
						<div class="it-head"></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="exhibition">
			<div class="video">
				<video src="https://bla.gtimg.com/qqlive/201702/BRDS_20170208152441790.mp4" controls="controls" >
				</video>
			</div>
			<div class="exh-content">
				<div class="showInfo"><img src="../public/images/introduce/showinfo/showinfo1.jpg"></div>
				<div class="showInfo"><img src="../public/images/introduce/showinfo/showinfo1.jpg"></div>
				<div class="showInfo"><img src="../public/images/introduce/showinfo/showinfo1.jpg"></div>
				<div class="showInfo"><img src="../public/images/introduce/showinfo/showinfo1.jpg"></div>
			</div>
		</div>
		<div class="goback"></div>
		<div class="cloud_bg1"></div>
		<div class="cloud_bg2"></div>
		<div class="cloud_bg3"></div>
		<div class="cloud_bg4"></div>
		<div class="cloud"><img src="../public/images/introduce/cloud.png"></div>
		<div class="company">瑞华会计师事务所 版权所有 @京ICP备1305311905051632号京公网安备11010802020454号</div>
	</div>
	<script type="text/javascript" src="../public/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../public/js/introduce.js"></script>
</body>
</html>
