<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="2017瑞华校园大使招募季">
    <meta name="description" content="2017瑞华校园大使招募季">
	<title>2017瑞华校园大使招募季</title>
	<link rel="stylesheet" type="text/css" href="../public/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/introduce.css"/>
</head>
<body>
	<div class="container">
		<div class="intro">
			<ul class="intro-ul">
				<li class="intro-li">
					<div class="li-container">
						<div class="it-head"><img src="../public/images/introduce/headImg/headImg1.jpg"></div>
						<div class="it-content">
							<div class="it-content-top">
								<span class="name">彭馨</span>
								<span class="symbol">/</span>
								<span class="department">中华女子学院、2015级瑞华校园大使、北京地区区域校园大使</span>
							</div>
							<div class="it-content-bottom">
								<p>连续两年负责瑞华校招在女院的前期宣传工作，以及第一届审计精英挑战赛的校内宣传工作，从参与工作讨论、制定工作计划，到联系学生组织协助宣传，再到搭展台号召同学们参与；从参与了“瑞华招聘”微信公众号的推送及H5宣传页制作到审计挑战赛、三亚行的视频后期制作；我从初出茅庐参与2016年校园招聘宣传时的紧张，到审计挑战赛联系院团总支共同宣传时井然有序，再到2017年校园招聘宣传时的得心应手，是瑞华让我迅速成长，完成了校园大使到瑞华人的蜕变，开启了职业生涯新世界。</p>
							</div>
						</div>
					</div>
				</li>
				<li class="intro-li row2">
					<div class="li-container">
						<div class="it-content">
							<div class="it-content-top">
								<span class="name">黄慧琪</span>
								<span class="symbol">/</span>
								<span class="department">哈尔滨商业大学、2015级瑞华校园大使、北部地区区域校园大使</span>
							</div>
							<div class="it-content-bottom">
								<p>从HR姐姐手中接过聘书成为校园大使已有两个年头了，宣传瑞华活动，维护好学校与瑞华团队的联系，建立固定社团合作关系，传承瑞华“啄木鸟精神”的工作让我得到了成长。</p>
								<p>除了成长，我还收获了一群志同道合的小伙伴。同为瑞华校园大使的我们，虽然来自全国各地不同的院校，看着不同的风景，大家却齐心协力，完成同一项任务，在我遇到困难的时候，总是毫不吝啬地提供帮助。</p>
								<p>如今的我，已经通过大使福利成功拿到瑞华offer，继续为老东家效力。在新的工作环境迎接新的挑战，也遇见新的小伙伴。不变的，是瑞华精神——祥瑞中国梦，风华专业人。</p>
							</div>
						</div>
						<div class="it-head"><img src="../public/images/introduce/headImg/headImg2.jpg"></div>
					</div>
				</li>
				<li class="intro-li">
					<div class="li-container">
						<div class="it-head"><img src="../public/images/introduce/headImg/headImg3.jpg"></div>
						<div class="it-content">
							<div class="it-content-top">
								<span class="name">梁琪</span>
								<span class="symbol">/</span>
								<span class="department">南京审计大学、2015级瑞华校园大使、南部地区区域校园大使</span>
							</div>
							<div class="it-content-bottom">
								<p>作为校园大使至今已经有一年半了，真的是很有感情了。参加大使比赛、接手大使工作让我的大学生活过得很充实，也让我得到了更多的锻炼，获得了更多的机会。工作中感受到瑞华团队对校园大使团队的关心，不单单有实习和校招的福利，还有很多旅游奖金等鼓励等。重要的是有了一个大团队，遇见了一群靠谱又热心的小伙伴。在三亚一起旅游的时候确实能感受到全国大使一家亲。真的很喜欢校园大使这个项目和瑞华这个大家庭。</p>
							</div>
						</div>
					</div>
				</li>
				<li class="intro-li row2">
					<div class="li-container">
						<div class="it-content">
							<div class="it-content-top">
								<span class="name">刘菁雯</span>
								<span class="symbol">/</span>
								<span class="department">河南大学、2015级瑞华校园大使、中部地区区域校园大使</span>
							</div>
							<div class="it-content-bottom">
								<p>作为瑞华校园大使最老的小伙伴，确实总会觉得自己在这个群体里好老，尤其随着团队队伍中“研究生老家伙们”依次离队，更让我觉得有些格格不入。但是还好，正是中部区校园大使团队和区域校园团队的青春活力，让瑞华校园大使成为了我学生生涯里最后那抹亮丽的红。</p>
								<p>两年相处里，让我深深感受到了瑞华的企业文化，如水一般的温润，滋养着每一位接近它的人。小伙伴们也一直相处的很愉快，配合的很默契。非常感谢瑞华单位给予我这次宝贵的学习和成长的机会，也谢谢瑞华大家庭给我这两年的温暖和关怀。</p>
							</div>
						</div>
						<div class="it-head"><img src="../public/images/introduce/headImg/headImg4.jpg"></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="exhibition">
			<div class="video">
				<video src="https://bla.gtimg.com/qqlive/201702/BRDS_20170208152441790.mp4" controls="controls" >
				</video>
			</div>
			<div class="exh-content">
				<div class="showInfo"><img src="../public/images/introduce/showinfo/showinfo1.jpg"></div>
				<div class="showInfo"><img src="../public/images/introduce/showinfo/showinfo2.jpg"></div>
				<div class="showInfo"><img src="../public/images/introduce/showinfo/showinfo3.jpg"></div>
				<div class="showInfo"><img src="../public/images/introduce/showinfo/showinfo4.jpg"></div>
			</div>
		</div>
		<div class="goback"></div>
		<div class="cloud_bg1"></div>
		<div class="cloud_bg2"></div>
		<div class="cloud_bg3"></div>
		<div class="cloud_bg4"></div>
		<div class="cloud"><img src="../public/images/introduce/cloud.png"></div>
		<div class="company">瑞华会计师事务所 版权所有 @京ICP备1305311905051632号京公网安备11010802020454号</div>
	</div>
	<script type="text/javascript" src="../public/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../public/js/introduce.js"></script>
</body>
</html>
