<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="2017瑞华校园大使招募季">
    <meta name="description" content="2017瑞华校园大使招募季">
	<title>2017瑞华校园大使招募季</title>
	<link rel="stylesheet" type="text/css" href="../public/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/process.css"/>
</head>
<body>
	<div class="container">
		<div class="c-bg">
			<div class="bg1"></div>
			<div class="bg2"></div>
			<div class="bg3"></div>
		</div>
		<div class="main">
			<div class="logo"></div>
			<!-- <div class="content1"></div>
			<div class="content2"></div> -->
			<div class="bt-look"></div>
			<div class="bt-go"></div>
			<div class="bt-itesyou"></div>
			<div class="bt-reward"></div>
			<div class="bt-process"></div>
			<div class="bt-sao"></div>
			<div class="bt-ma"></div>
		</div>
		<div class="company company-bottom" style="color: #333;">瑞华会计师事务所（特殊普通合伙） 版权所有 @京ICP备1305311905051632号京公网安备11010802020454号</div>
	</div>
	<script type="text/javascript" src="../public/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../public/js/process.js"></script>
</body>
</html>
