.container{
	width: 100%;
	min-width: 1920px;
	position: relative;
}
.c-bg{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.c-bg .bg1{
	background: url(../images/itsyou/bg_01.jpg) no-repeat 50% 0;
	width: 100%;
	height: 300px;
}
.c-bg .bg2{
	background: url(../images/itsyou/bg_02.jpg) no-repeat 50% 0;
	width: 100%;
	height: 300px;
}
.c-bg .bg3{
	background: url(../images/itsyou/bg_03.jpg) no-repeat 50% 0;
	width: 100%;
	height: 350px;
}

.logo{
	z-index: 12;
	cursor: pointer;
	position: absolute;
	top: 35px;
	left: 334px;
	background: url(../images/itsyou/logo.jpg) no-repeat 50% 0;
	width: 154px;
	height: 34px;
}
.content1{
	position: absolute;
	top: 32px;
	left: 330px;
	width: 839px;
	height: 416px;
	background: url(../images/itsyou/content1.png) no-repeat 50% 0;
	z-index: 9;
}
.content2{
	cursor: pointer;
	position: absolute;
	top: 358px;
	left: 422px;
	width: 1263px;
	height: 405px;
	background: url(../images/itsyou/content2.png) no-repeat 50% 0;
}
.bt-look{
	cursor: pointer;
	position: absolute;
	top: 770px;
	left: 370px;
	width: 460px;
	height: 80px;
	background: url(../images/itsyou/button1.png) no-repeat 50% 0;
}
.bt-go{
	cursor: pointer;
	position: absolute;
	top: 749px;
	left: 955px;
	width: 514px;
	height: 103px;
	background: url(../images/itsyou/button2.png) no-repeat 50% 0;
}
.bt-itesyou{
	cursor: pointer;
	position: absolute;
	top: 125px;
	left: 1458px;
	width: 145px;
	height: 80px;
	background: url(../images/itsyou/itsyou_act.png) no-repeat 50% 0;
}
.bt-reward{
	cursor: pointer;
	position: absolute;
	top: 380px;
	left: 1387px;
	width: 145px;
	height: 80px;
	background: url(../images/itsyou/reward.png) no-repeat 50% 0;
}
.bt-process{
	cursor: pointer;
	position: absolute;
	top: 623px;
	left: 1458px;
	width: 145px;
	height: 80px;
	background: url(../images/itsyou/process.png) no-repeat 50% 0;
}
.bt-sao{
	cursor: pointer;
	position: absolute;
	top: 768px;
	left: 1480px;
	width: 87px;
	height: 79px;
	background: url(../images/itsyou/sao.png) no-repeat 50% 0;
}
.bt-ma{
	cursor: pointer;
	display: none;
	position: absolute;
	top: 546px;
	left: 1418px;
	width: 215px;
	height: 213px;
	background: url(../images/itsyou/ma.jpg) no-repeat 50% 0;
}
