.container{
	width: 100%;
	min-width: 1300px;
	position: relative;
}
.c-bg{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.c-bg .bg1{
	background: url(../images/itsyou/bg_01.jpg) no-repeat 50% 0;
	width: 100%;
	height: 300px;
}
.c-bg .bg2{
	background: url(../images/itsyou/bg_02.jpg) no-repeat 50% 0;
	width: 100%;
	height: 300px;
}
.c-bg .bg3{
	background: url(../images/itsyou/bg_03.jpg) no-repeat 50% 0;
	width: 100%;
	height: 350px;
}

/** main pannel **/
.main{
	position: relative;
	width: 1300px;
	margin: 0 auto;
}
.main>div{
	position: relative;
}
.logo{
	z-index: 12;
	cursor: pointer;
	position: absolute;
	top: 35px;
	left: 24px;
	background: url(../images/itsyou/logo.jpg) no-repeat 50% 0;
	width: 154px;
	height: 34px;
}
.content1{
	margin-top: 32px;
	margin-left: 25px;
	width: 839px;
	height: 416px;
	background: url(../images/itsyou/content1.png) no-repeat 50% 0;
	z-index: 9;
}
.content2{
	cursor: pointer;
	margin-top: -90px;
	margin-left: 112px;
	width: 827px;
	height: 405px;
	background: url(../images/itsyou/content2.png) no-repeat 50% 0;
}
/** operate **/
.operate{
	margin-top: -16px;
}
.operate .bt-look{
	display: inline-block;
	cursor: pointer;
	width: 460px;
	height: 80px;
	margin-left: 120px;
	background: url(../images/itsyou/button1.png) no-repeat 50% 0;
}
.operate .bt-go{
	display: inline-block;
	cursor: pointer;
	width: 514px;
	height: 103px;
	margin-left: 63px;
	background: url(../images/itsyou/button2.png) no-repeat 50% 0;
}
.operate .bt-sao{
	display: inline-block;
	cursor: pointer;
	width: 87px;
	height: 79px;
	margin-left: 20px;
	background: url(../images/itsyou/sao.png) no-repeat 50% 0;
}
.operate .bt-ma{
	display: none;
	cursor: pointer;
	position: absolute;
	top: -203px;
	right: 0;
	width: 215px;
	height: 213px;
	background: url(../images/itsyou/ma.jpg) no-repeat 50% 0;
}


/** buttons **/
.buttons{
	position: absolute!important;
	top: 0;
	right: 0;
	width: 233px;
}
.buttons>div{
	cursor: pointer;
}
.buttons .bt-itesyou{
	width: 145px;
	height: 80px;
	margin-top: 125px;
	margin-left: 75px;
	background: url(../images/itsyou/itsyou_act.png) no-repeat 50% 0;
}
.buttons .bt-reward{
	width: 145px;
	height: 80px;
	margin-top: 188px;
	background: url(../images/itsyou/reward.png) no-repeat 50% 0;
}
.buttons .bt-process{
	width: 145px;
	height: 80px;
	margin-top: 170px;
	margin-left: 73px;
	background: url(../images/itsyou/process.png) no-repeat 50% 0;
}
