@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,section,canvas {
    padding: 0;
    margin: 0;
}
li{ list-style: none;}

html,body {
    font-size: 22px;
    color: #000;
    font-family: 'Microsoft YaHei', Arial;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    -webkit-touch-callout:none; /* 禁用长触弹出的下载图片菜单 */
    -webkit-user-select:none; /* 禁用长触选择文字等功能 */
}

.hide{ display: none;}

.main{ width: 100%; height: auto; position: relative; overflow-x: hidden;}
.main>div{position: relative; left: 50%;}
.page1{margin: 0 0 0 -320px;}
.page2{margin: 0 0 0 -320px;}
.page3{margin: 0 0 0 -320px;}
.page4{margin: 23px 0 0 -294.5px;}
.page5{margin: 34px 0 0 -290px; height: 102px;}
.page6{margin: 0 0 0 -59px; position: absolute!important; top:553px;}
