@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,section,canvas {
    padding: 0;
    margin: 0;
}
li{ list-style: none;}

html,body {
    font-size: 22px;
    color: #000;
    font-family: 'Microsoft YaHei', Arial;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
}

.hide{ display: none;}
.wrapper{ width: 100%; height: 100%; position: relative; }

/**
 * Loading
 */
.loading{
	position: absolute;
	top: 50%;
	left: 50%;
    width: 548px;
	margin: -99px 0 0 -274px;
	text-align: center;
}
.loadingicon{
	width: 83px;
	height: 136px;
	background: url("../images/loadingprocess1.png") no-repeat;
    animation: run .8s infinite;
    -webkit-animation: run .8s infinite
}
.loadingprocess{
    width: 548px;
    height: 10px;
    border-radius: 5px;
    background-color: #c9caca;
}
.loadingprocess .pro{
    width: 1%;
    height: 10px;
    border-radius: 5px;
    background-color: #50921d;
}
.loadingtxt{
	padding: 10px;
    font-size: 25px;
    color: #c9caca;
	box-sizing: border-box;
	text-align: center;
}

/**
 * Main Pannel
 */
.main{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.page{
	width: 100%;
	height: 100%;
	position: relative;
}
.page>div{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

/**
 * Page 1
 */
.page .page1{
	background-image: url("../images/p1.jpg");
	background-position: center top;
	background-size: cover;
}
.page1>div{left: 50%;}
.page1_0{
    position: absolute;
    top: 60px;
    width: 624px;
    height: 55px;
    margin-left: -312px;
    background: url("../images/logo.png") no-repeat 50% 50%;
	background-size: cover;
}
.page1_1{
    position: relative;
    width: 564px;
    height: 555px;
	margin: 65px 0 0 -282px;
    background: url("../images/p1_1.png") no-repeat 50% 50%;
	background-size: cover;
}
.page1_2{
    position: relative;
    width: 577px;
    height: 725px;
	margin: -78px 0 0 -395px;
    background: url("../images/p1_2.png") no-repeat 50% 50%;
	background-size: cover;
}
.page1_3{
    position: absolute;
    width: 432px;
    height: 159px;
    bottom: 50px;
	margin: 0 0 0 -216px;
    background: url("../images/p1_3.png") no-repeat left 50%;
	background-size: cover;
}

/**
 * Page 2
 */
.page .page2{
    background: url("../images/p2.jpg") no-repeat center center;
    background-size: contain;
}
.page2>div{left: 50%; }
.page2_0{
    position: absolute;
    top: 60px;
    width: 624px;
    height: 55px;
    margin-left: -312px;
    background: url("../images/logo.png") no-repeat 50% 50%;
    background-size: cover;
}
.page2_1{
    position: relative;
    width: 495px;
    height: 173px;
    margin: 120px 0 0 -262px;
    background: url("../images/p2_1.png") no-repeat 50% 50%;
    background-size: cover;
}
.page2_2{
    position: relative;
    width: 380px;
    height: 146px;
    margin: 10px 0 0 -180px;
    background: url("../images/p2_2.png") no-repeat 50% 50%;
    background-size: cover;
}
.page2_3{
    position: absolute;
    top: 290px;
    width: 60px;
    height: 78px;
    margin: 0 0 0 200px;
    background: url("../images/p2_3.png") no-repeat 50% 50%;
    background-size: cover;
}
.page2_4{
    z-index: 9;
    position: relative;
    width: 606px;
    height: 323px;
    margin: 210px 0 0 -303px;
    background: url("../images/p2_4.png") no-repeat 50% 50%;
    background-size: cover;
}
.page2_5{
    position: absolute;
    bottom: 0px;
    width: 750px;
    height: 628px;
    margin: 0 0 0 -375px;
    background: url("../images/p2_5.png") no-repeat 50% 50%;
    background-size: cover;
}
/**
 * Page 3
 */
.page .page3{
    background: url("../images/p3.jpg") no-repeat center top;
    /*background-size: 750px 1334px;*/
}
.page3>div{ left: 50%; }
.page3_0{
    position: absolute;
    top: 60px;
    width: 624px;
    height: 55px;
    margin-left: -312px;
    background: url("../images/logo.png") no-repeat 50% 50%;
    background-size: cover;
}
.page3_1{
    position: relative;
    width: 550px;
    height: 183px;
    margin: 120px 0 0 -275px;
    background: url("../images/p3_1.png") no-repeat 50% 50%;
    background-size: cover;
}
.page3_2{
    position: relative;
    width: 633px;
    height: 260px;
    margin: 60px 0 0 -316px;
    background: url("../images/p3_2.png") no-repeat 50% 50%;
    background-size: cover;
}
.page3_3{
    position: relative;
    width: 450px;
    height: 217px;
    margin: 50px 0 0 -225px;
    background: url("../images/p3_3.png") no-repeat 50% 50%;
    background-size: cover;
}
.page3_4{
    position: relative;
    width: 542px;
    height: 40px;
    margin: 80px 0 0 -271px;
    background: url("../images/p3_4.png") no-repeat 50% 50%;
    background-size: cover;
}
.page3_5{
    position: absolute;
    bottom: 50px;
    width: 318px;
    height: 104px;
    margin: 0 0 0 -159px;
    background: url("../images/p3_5.png") no-repeat left 50%;
    background-size: cover;
}
/**
 * Page 4
 */
.page .page4{
    background: url("../images/p4.jpg") no-repeat center top;
}
.page4>div{ left: 50%;}
.page4_0{
    position: absolute;
    top: 60px;
    width: 624px;
    height: 55px;
    margin-left: -312px;
    background: url("../images/logo.png") no-repeat 50% 50%;
    background-size: cover;
}
.page4_1{
    position: absolute;
    top: 50%;
    width: 402px;
    height: 131px;
    margin: -148px 0 0 -201px;
    background: url("../images/p4_1.png") no-repeat left 50%;
    background-size: cover;
}
.page4_2{
    position: absolute;
    top: 50%;
    width: 402px;
    height: 131px;
    margin: 90px 0 0 -201px;
    background: url("../images/p4_2.png") no-repeat left 50%;
    background-size: cover;
}
/**
 * Page 5
 */
.page .page5{
    background: url("../images/p4.jpg") no-repeat center top;
}
.page5>div{ left: 50%;}
.page5_0{
    position: absolute;
    top: 60px;
    width: 624px;
    height: 55px;
    margin-left: -312px;
    background: url("../images/logo.png") no-repeat 50% 50%;
    background-size: cover;
}
.page5_1{
    position: relative;
    width: 305px;
    height: 91px;
    margin: 290px 0 0 -302px;
    background: url("../images/p5_1.png") no-repeat left 50%;
    background-size: cover;
}
.page5_2{
    position: relative;
    width: 721px;
    height: 673px;
    margin: 56px 0 0 -360px;
    padding: 100px 0 0 78px;
    background: url("../images/p5_2.png") no-repeat left 50%;
    background-size: cover;
    box-sizing: border-box;
}
.page5_3{
    position: absolute;
    bottom: 60px;
    width: 286px;
    height: 52px;
    margin: 0 0 0 -143px;
    background: url("../images/p5_3.png") no-repeat left 50%;
    background-size: cover;
}
.qs-item{
    margin-bottom: 47px;
}
.qs-item-label{
    display: inline-block;
    font-size: 24px;
    color: #333;
}
.qs-item-input{
    outline: none;
    width: 324px;
    line-height: 32px;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 20px;
    padding: 0 10px;
    margin-left: 10px;
}
.req-loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0!important;
    background: rgba(255, 255, 255, 0.5);
}
.req-loading-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 83px;
    height: 136px;
    margin: -68px 0 0 -41px;
    background: url("../images/loadingprocess1.png") no-repeat;
    animation: run .8s infinite;
    -webkit-animation: run .8s infinite
}
/**
 * Page 6
 */
.page .page6{
    background: url("../images/p6.jpg") no-repeat center top;
}
.page6_0{
    position: absolute;
    left: 50%;
    top: 60px;
    width: 624px;
    height: 55px;
    margin-left: -312px;
    background: url("../images/logo.png") no-repeat 50% 50%;
    background-size: cover;
}
.page6_1{
    position: relative;
    left: 50%;
    width: 437px;
    height: 143px;
    margin: 150px 0 0 -218px;
    background: url("../images/p6_1.png") no-repeat left 50%;
    background-size: cover;
}
.page6_2{
    padding-left: 82px;
    margin-top: 85px;
}
.page6_2 .username{
    display: inline-block;
    font-size: 40px;
    line-height: 40px;
    color: #50921d;
}
.page6_2 .nametips{
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    font-size: 25px;
    color: #221815;
    margin-left: 35px;
}
.page6_2 .companyname{
    font-size: 25px;
    color: #221815;
    margin-top: 20px;
}
.page6_3{
    position: relative;
    width: 524px;
    height: 65px;
    margin: 60px 0 0 85px;
    background: url("../images/p6_3.png") no-repeat center 50%;
    background-size: cover;
}
.page6_4{
    position: relative;
    width: 523px;
    height: 109px;
    margin: 60px 0 0 85px;
    background: url("../images/p6_4.png") no-repeat center 50%;
    background-size: cover;
}
.page6_5{
    position: relative;
    width: 595px;
    height: 202px;
    margin: 60px 0 0 85px;
    background: url("../images/p6_5.png") no-repeat center 50%;
    background-size: cover;
}
.page6_6{
    position: absolute;
    bottom: 60px;
    right: 80px;
    width: 318px;
    height: 104px;
}
.page6_6_c{
    width: 318px;
    height: 104px;
    background: url("../images/p6_6.png") no-repeat left 50%;
    background-size: cover;
}

.sharemask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
.sharemask img{ display: block; position: absolute; right: 28px; top: 45px;}

.musicicon{
    background: url("../images/musicicon.png") no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.musicrotate{
    -webkit-animation: xuanzhuan 5s infinite linear;
    animation: xuanzhuan 5s infinite linear;
}

.guideTop {
    width: 59px;
    height: 47px;
    background: url(../images/guide.png) no-repeat;
    position: absolute;
    bottom:0px;
    left: 50%;
    margin-left: -30px;
    animation: guideTop 1.5s infinite;
    -webkit-animation: guideTop 1.5s infinite
}

/**
 * animations
 */
@keyframes xuanzhuan {
    0% { transform: rotate(0deg)}
    100% { transform: rotate(360deg)}
}
@-webkit-keyframes xuanzhuan {
    0% { -webkit-transform: rotate(0deg)}
    100% { -webkit-transform: rotate(360deg)}
}

@keyframes guideTop {
    0% {
        transform: translateY(0px);
        opacity: 0
    }

    60% {
        transform: translateY(-10px);
        opacity: 1
    }

    100% {
        transform: translateY(-20px);
        opacity: 0
    }
}
@-webkit-keyframes guideTop {
    0% {
        -webkit-transform: translateY(0px);
        opacity: 0
    }

    60% {
        -webkit-transform: translateY(-10px);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(-20px);
        opacity: 0
    }
}
@keyframes breath {
    from { transform: scale(1); }
    50%  { transform: scale(0.8);}
    to   { transform: scale(1); }
}

@-webkit-keyframes breath {
	from { -webkit-transform: scale(1); }
	50%  { -webkit-transform: scale(0.8);}
	to   { -webkit-transform: scale(1); }
}

@keyframes run {
    0% { background: url("../images/loadingprocess1.png") no-repeat; }
    50% { background: url("../images/loadingprocess2.png") no-repeat; }
    100% { background: url("../images/loadingprocess1.png") no-repeat; }
}
@-webkit-keyframes run {
    0% { background: url("../images/loadingprocess1.png") no-repeat; }
    50% { background: url("../images/loadingprocess2.png") no-repeat; }
    100% { background: url("../images/loadingprocess1.png") no-repeat; }
}

/*
@media only screen and (max-device-height:550px){
	.page4_3{
		margin-top: 150px;
	}
	.page4_4 p{
		margin-top: 23px;
	}
}*/
